* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: Bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background: linear-gradient(60deg, #8709ad, #0482a1);
	margin: 5px;
	margin-left: 10px;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 8px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background: linear-gradient(60deg, #8709ad, #0482a1);
	padding: 5px 10px;
	margin: 5px 0px;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}

#custom-date {
	color: #f09e33;
}

#custom-power {
	color: #f09e33;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#clock {
    color: #f09e33;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}

#window {
	background: linear-gradient(60deg, #8709ad, #0482a1);
	padding: 5px 10px;
	margin: 5px 0px;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}

#battery {
    color: #f09e33;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}

#battery.charging {
    color: #f09e33;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #f09e33;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f09e33;
	border-radius: 5px 0px 0px 5px;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}

#pulseaudio {
	color: #f09e33;
	border-radius: 10px;
	border:2px solid;
	border-color:#ffffff;
}
